{{ partial "header" . }}
{{ "<!-- Home -->" | safeHTML }}
<!-- ******PROMO****** -->
<section id="promo" class="promo section">
    <div class="container intro">
        <h2 class="title">BIMWEB vil forandre vores måde at bygge på</h2>
        <p class="summary">BIMWEB er den nye kommunikationsplatform, som understøtter alt samarbejde mellem byggeriets parter i en let og overskuelig form</p>
        <!--<a class="btn btn-cta btn-cta-secondary" href="/tour/">Læs mere</a>-->
    </div><!--//intro-->

    <div class="fixed-container">
        <div class="signup">
            <div class="container text-center">
                <h3 class="title">Prøv {{ .Site.Title }} Gratis</h3>
                <p class="summary">Kontakt os for at prøve {{ .Site.Title }} gratis på dit eget projekt.</p>
                <form class="signup-form" method="post" action="https://formspree.io/info@bimweb.dk">
                    <div class="form-group">
                        <label class="sr-only" for="semail1">Din email</label>
                        <input type="email" id="_replyto" name="_replyto" class="form-control" placeholder="Skriv din email adresse">
                    </div>
                    <button type="submit" class="btn btn-cta btn-cta-primary">JA TAK</button>
                </form><!--//signup-form-->
            </div><!--//contianer-->
        </div><!--//signup-->
        <!--<div class="social text-center">
            <div class="container">
                <span class="line">Love {{ .Site.Title }}? Spread the word:</span>
                <div class="twitter-tweet">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="bimweb" data-hashtags="bim #cool #projektweb">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
                <div class="fb-like" data-href="http://bimweb.eu" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true" ></div>
            </div>
        </div>--><!--//social-->
    </div>
    <div class="bg-slider-wrapper">
        <div id="bg-slider" class="flexslider bg-slider">
            <ul class="slides">
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
                <li class="slide slide-3"></li>
            </ul>
        </div>
    </div><!--//bg-slider-wrapper-->
</section><!--//promo-->

<!-- ******PRESS******
<div class="press">
    <div class="container text-center">
        <div class="row">
            <ul class="list-unstyled">
                <li class="col-md-2 col-sm-4 col-xs-6"><a href="#"><img class="img-responsive" src="assets/images/press/press-1.png" alt=""></a></li>
                <li class="col-md-2 col-sm-4 col-xs-6"><a href="#"><img class="img-responsive" src="assets/images/press/press-2.png" alt=""></a></li>
                <li class="col-md-2 col-sm-4 col-xs-6 xs-break"><a href="#"><img class="img-responsive" src="assets/images/press/press-3.png" alt=""></a></li>
                <li class="col-md-2 col-sm-4 col-xs-6 sm-break"><a href="#"><img class="img-responsive" src="assets/images/press/press-4.png" alt=""></a></li>
                <li class="col-md-2 col-sm-4 col-xs-6 xs-break"><a href="#"><img class="img-responsive" src="assets/images/press/press-5.png" alt=""></a></li>
                <li class="col-md-2 col-sm-4 col-xs-6"><a href="#"><img class="img-responsive" src="assets/images/press/press-6.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</div>//press -->

<!-- ******WHY****** -->
<section id="why" class="why section">
    <div class="container">
        <p class="intro text-center">
          {{ range .Data.Pages }}
            {{if eq .Type "index" }}
                {{.Content}}
            {{end}}
          {{ end }}
        </p>
        <div class="row">
            <div class="benefits col-md-7 col-sm-6 col-xs-12">

                {{ range $index, $element := .Site.Taxonomies.featured_on.frontpage }}
                <div class="item clearfix">
                    <div class="icon col-md-3 col-xs-12 text-center">
                        <span class="pe-icon {{ $element.Page.Params.icon }}"></span>
                    </div><!--//icon-->
                    <div class="content col-md-9 col-xs-12">
                        <h3 class="title">{{ $element.Page.Title }}</h3>
                        <p class="desc">{{ $element.Page.Summary }}</p>
                    </div><!--//content-->
                </div><!--//item-->
                {{ end }}
            </div>

            <!--<div class="testimonials col-md-4 col-sm-5 col-md-offset-1 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                {{ range $.Site.Data.testimonials }}
                <div class="item">
                    <div class="quote-box">
                        <blockquote class="quote">
                          {{ .quote }}
                        </blockquote><
                        <p class="details">
                            <span class="name">{{ .name }}</span>
                            <span class="title">{{ .title }}</span>
                        </p>
                        <i class="fa fa-quote-right"></i>
                    </div><
                    <div class="people text-center">
                        <img class="img-rounded user-pic" src="{{ .image }}" alt="">
                    </div>
                </div>
                {{ end }}
            </div>-->
        </div>
    </div>
</section><!--//why-->

<!-- ******VIDEO****** -->
<!--{{ range $k, $v := $.Site.Data.videos }}
  {{if eq $k "frontpage" }}
  <section id="video" class="video section">
      <div class="container">
          <h2 class="title">{{ $v.title }}</h2>
          <p class="summary">{{ $v.summary }}</p>
          <div class="control text-center">
              <button type="button" id="play-trigger" class="play-trigger" data-toggle="modal" data-target="#tour-video"><i class="fa fa-play"></i></button>
              <p>{{ $v.button }}</p>

              <div class="modal modal-video" id="tour-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 id="videoModalLabel" class="modal-title">Video Tour</h4>
                          </div>
                          <div class="modal-body">
                              <div class="video-container">
                                  <iframe id="vimeo-video" src="{{ $v.vimeourl }}?color=ffffff&amp;wmode=transparent" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  {{ end }}
{{ end }}-->

<!-- ******FAQ****** -->
<section id="faq" class="faq section has-bg-color">
    <div class="container">
        <h2 class="title text-center">Oftest stillede spørgsmål</h2>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                
                {{ range $key, $element := first 3 $.Site.Taxonomies.featured_on.faq }}

                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-parent="#accordion"
                        data-toggle="collapse" class="panel-toggle" href="#faq-{{$key}}">
                            <i class="fa fa-plus-square"></i>
                            {{ $element.Page.Params.question }}
                          </a>
                        </h4>
                    </div>

                    <div class="panel-collapse collapse" id="faq-{{$key}}">
                        <div class="panel-body">
                            {{ $element.Page.Summary }}
                        </div>
                    </div>
                </div><!--//panel-->

                {{ end }}

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">

                {{ range $key, $element := last 3 $.Site.Taxonomies.featured_on.faq }}

                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-parent="#accordion"
                        data-toggle="collapse" class="panel-toggle" href="#faq-{{add $key 3}}">
                            <i class="fa fa-plus-square"></i>
                            {{ $element.Page.Params.question }}
                          </a>
                        </h4>
                    </div>

                    <div class="panel-collapse collapse" id="faq-{{add $key 3}}">
                        <div class="panel-body">
                            {{ $element.Page.Summary }}
                        </div>
                    </div>
                </div><!--//panel-->

                {{ end }}

            </div>
        </div><!--//row-->
        <!--<div class="more text-center">
            <h4 class="title">More questions?</h4>
            <a class="btn btn-cta btn-cta-secondary" href="contact.html">Get in touch</a>
        </div>-->
    </div><!--//container-->
</section><!--//faq-->

<!-- ******SIGNUP****** -->
<section id="signup" class="signup">
    <div class="container text-center">
        <h2 class="title">Demo</h2>
        <p class="summary">Vi vil meget gerne præsentere dig for BIMweb med en live-demo af systemet.
Vi kan også hjælpe dig med et konkret projekt, hvis du har brug for sparring ift. mappestruktur, udbud, rettigheder eller andet.</p>
        <form class="signup-form" method="post" action="https://formspree.io/info@bimweb.dk">
            <div class="form-group">
                <label class="sr-only" for="semail2">Din email</label>
                <input type="email" id="_replyto" name="_replyto" class="form-control" placeholder="Skriv din email adresse">
            </div>
            <button type="submit" class="btn btn-cta btn-cta-primary">Ja TAK</button>
        </form><!--//signup-form-->
    </div>
</section><!--//signup-->

{{ partial "footer" .}}
