{{ partial "header" . }}
{{ "<!-- Tour -->" | safeHTML }}

        
<!-- ******PRICE PLAN****** --> 
<section id="price-plan" class="price-plan section">
    <div class="container text-center">
        {{ .Content }}
        <div class="price-cols row">
            {{ range $.Site.Data.pricing }}
            <div class="item col-md-4 col-sm-4 col-xs-12">
                <h3 class="heading">{{ .title }}</h3>
                <div class="content">
                    <p class="price-figure"><span class="currency">{{ .currency }}</span><span class="number">{{ .amount }}</span><span class="unit">/{{ .period }}</span></p>
                    <ul class="list-unstyled feature-list">
                        <li>{{ .users }}</li>
                        <li>{{ .storage }}</li>
                        <li>{{ .support }}</li>
                    </ul>
                    <a class="btn btn-cta btn-cta-primary" href="#">Sign Up <br /><span class="extra">30 day free trial</span></a>
                </div><!--//content-->
            </div><!--//item--> 
            {{ end }}
                
        </div><!--//row-->
    </div><!--//container-->
</section><!--//price-plan-->
         
{{ partial "footer" . }}
    


