{{ partial "header" . }}
{{ "<!-- Tour -->" | safeHTML }}

<!-- ******FEATURES PROMO****** -->
<section id="features-promo" class="features-promo section">
    <div class="bg-mask"></div>
    <div class="container">
        
        {{ range $.Site.Data.tour.quick }}
        
        <div class="row">
            <div class="features-intro col-md-5 col-sm-6 col-xs-12">
                <h2 class="title">{{ .title }}</h2>
                <ul class="list-unstyled features-list">
                    <li><i class="fa fa-check"></i>{{ .feature1 }}</li>
                    <li><i class="fa fa-check"></i>{{ .feature2 }}</li>
                    <li><i class="fa fa-check"></i>{{ .feature3 }}</li>
                    <li><i class="fa fa-check"></i>{{ .feature4 }}</li>
                    <li><i class="fa fa-check"></i>{{ .feature5 }}</li>
                </ul>
            </div><!--//intro-->
            <div class="features-video col-md-7 col-sm-6 col-xs-12 col-xs-offset-0">
                <div class="video-container">
                    <iframe src="//player.vimeo.com/video/{{.vimeo_video_id}}?color=ffffff&amp;wmode=transparent" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div><!--//video-container-->
            </div><!--//video-->
        </div><!--//row-->
        
         {{ end }}
         
    </div><!--//container-->
</section><!--//features-promo-->

<!-- ******FEATURES****** -->
<section id="features" class="features section">
    <div class="container">


        {{ range $.Site.Data.tour.features }}

          <div class="item row">
            <div class="content col-md-5 col-sm-5 col-xs-12 pull-right col-md-offset-1 col-sm-offset-1 col-xs-offset-0 from-right">
                <!-- needs to iterrate items left/ right -->
                <!-- <div class="content col-md-5 col-sm-5 col-xs-12 from-left"> -->
                
                <h3 class="title">{{ .title }}</h3>
                <div class="details">
                    <p>{{ .details | markdownify }}</p>
                </div>
            </div><!--//content-->
            <div class="figure col-md-6 col-sm-6 col-xs-12 from-left">
                <img class="img-responsive" src="/img/tour/features/{{ .image }}" alt="" />
            </div><!--//figure-->
          </div><!--//item-->

          <hr />

        {{ end }}
        
    </div><!--//container-->
</section>

{{ partial "footer" . }}
